In [1]:
import os
import pandas as pd
import numpy as np
import seaborn as sns
import sklearn 
from sklearn.linear_model import LinearRegression
from sklearn.datasets import load_boston

In [2]:
data=load_boston()
df=pd.DataFrame(data['data'])
df

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

In [3]:
df.columns=data['feature_names']
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [4]:
df['target']=data['target']
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [5]:
df.shape

(506, 14)

In [6]:
x=df.drop('target',axis=1)
y=df['target']
x.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [7]:
y.head()

0    24.0
1    21.6
2    34.7
3    33.4
4    36.2
Name: target, dtype: float64

In [8]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)
print(x_train.shape,x_test.shape,y_train.shape,y_test.shape)

(404, 13) (102, 13) (404,) (102,)

In [9]:
#build the model
lr = LinearRegression()
lr.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [10]:
#gives coefficients for each feature
list(zip(x.columns,lr.coef_))

[('CRIM', -0.10599776699684646),
 ('ZN', 0.04905572435010655),
 ('INDUS', 0.022450620709681308),
 ('CHAS', 2.9601384383676708),
 ('NOX', -20.235216258965846),
 ('RM', 3.486921738037489),
 ('AGE', -0.00014056099076072582),
 ('DIS', -1.5827669016621668),
 ('RAD', 0.36413994429284874),
 ('TAX', -0.013790629413939286),
 ('PTRATIO', -0.9170436944079591),
 ('B', 0.009666926103062967),
 ('LSTAT', -0.5476237602025555)]

In [11]:
#intersept y=a+bx
lr.intercept_

39.71815924574723

In [12]:
#model is builts,lets test its performance
pred_train=lr.predict(x_train)
pred_test=lr.predict(x_test)

from sklearn.metrics import mean_squared_error
#testing performance against seen data
rmse_train = np.sqrt(mean_squared_error(y_train,pred_train))
#testing performance against unseen data
rmse_test = np.sqrt(mean_squared_error(y_test,pred_test))

print(rmse_train,rmse_test)

4.863955022931011 3.945776285321481

In [13]:
pd.DataFrame({'Actual unseen data:':y_test,"predicted unseendata":pred_test})

     Actual unseen data:  predicted unseendata
441                 17.1             17.246648
353                 30.1             25.046136
199                 34.9             29.757387
271                 25.2             27.383291
404                  8.5              7.650973
..                   ...                   ...
101                 26.5             25.472813
396                 12.5             19.405190
373                 13.8              6.490696
447                 12.6             18.186068
377                 13.3             20.268070

[102 rows x 2 columns]

In [ ]:
info = ["age","1:male, 0: female","chest pain type",]